<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Byte 3-About This Data</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li  class="active"><a href="about">About This Data Set</a></li>
	    	<li><a href="quality">Data Quality</a></li>
	    	<li><a href="map">Heat Map</a></li>
	    	<li><a href="aniMap">Animated Map</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>Accountability: About This Data Set</h1>
        <p>Given the high degree of control exerted by the developers over the data collection process, 
        the data presented in this web application is accountable and can be traced directly back to the 
        source of the data. Using tools including the AWARE Framework App, Google Cloud, and R, each step 
        along the data pipeline for this application is well-documented and transparent for interested parties.</a></p>
      </div>

    
      <div class="page-header">
	<h2>Data Source: Where did this data come from?</h2>
	<p>This data was collected from one Apple iPhone 5s mobile device (Kyle Furlong's) on which the developers installed the AWARE Framework
	application directly from the Apple App Store. Information regarding the AWARE Framework and its various sensors can 
	be found <a href="http://www.awareframework.com/">here.</a> After downloading the application, the developers set up 
	an instance in the Google Cloud in which they operated an auto-updating SQL database which periodically collected the 
	most up-to-date data from the mobile application. Data for this project was collected near-continuously between 
	February 15, 2018 at 9:47:11AM and March 5, 2018 at 7:48:52PM. Following the data collection period, it was then 
	downloaded from the Google SQL database into a CSV format which the developers then imported into R for data cleaning. 
	The location data was converted from CSV to GEOJSON using online open source applications, yet these sources should not
	have altered or jeopardized the quality or accountability of the data in any way, shape, or form.
	</p>
    </div>
      
      <div class="page-header">
	<h2>Data Accessibility: Who has access to it?</h2>
	<p>The data as presented on this website is accessible only to Kyle Furlong, the author and developer of this site. 
	During the course of the data collection and cleaning processes, it is possible that other entities or websites acquired 
	parts or all of the data due to Terms and Conditions of usage. For example, the data was converted from its original CSV
	format to JSON and GEOJSON files through <a href= "http://geojson.io"/>GeoJson.io</a> and 
	<a href = "http://www.convertcsv.com/csv-to-geojson.htm">ConvertCSV.com</a> which likely stored some of the data as "payment"
	for using their free services. However, though multiple entities may have access to the raw data, the data presented on the
	website can only be accessed and altered by the developer. 
	</p>
      </div>
      
      <div class="page-header">
	<h2>About the Developer</h2>
	<div class="row" >
	<div class="col-md-10">
	<div style = "font-size: 125%">
	<p>This webpage and accompanying web applications were developed by Kyle Furlong, an MS in Public Policy 
	and Management - Data Analytics candidate at the Heinz College at Carnegie Mellon University. He programmed 
	and designed this webpage and content for an assignment in 05-89: Interactive Data Science in Carnegie Mellon
	University's Human-Computer Interaction Institute in partial fulfillment of his <i>Data Mining and Machine 
	Learning</i> requirement for his degree. 
	</div>
	</p>
	</div>
	<div class="col-md-2">
	<img alt="Kyle Furlong Profile Picture" src="/images/profile.jpg" class="img-rounded" />
	</div>
	</div>
	
      </div>

				

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
