<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>More Information</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li  class="active"><a href="about">More Information</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
      <h1>Additional Information...</h1>
      <p><em>including data limitations and insights from user testing</em></p>
      </div>
      
      <div class="row">
<div class="page-header">
<div class="col-md-12">
<h2>Data Limitations</h2>
<p>
Despite the high quality and granular nature of this data set, it nonetheless has a number of limitations. 
Most importantly, it is important to stress that our data only assesses the flow of aid from OECD member nations 
to non-OECD nations. Therefore, there are a few notably missing nations, such as China and Russia, because they are 
not OECD member nations. However, it is well known that both of these nations have been increasing active in the 
foreign aid scene, primarily focused on infrastructure projects. This focus is part of their 
<a href = "https://www.washingtonpost.com/news/worldviews/wp/2017/10/11/china-treats-its-foreign-aid-like-a-state-secret-new-research-aims-to-reveal-it/?utm_term=.6e8409e8e14c">
foreign policy strategy to strengthen their soft power within developing countries and reap economic boons later once 
the economies of these developing nations stabilize</a>.</p>

<p>In addition to omitting important world powers that are nonetheless not member nations in the OECD
data also lacks information on foreign aid passed between developing countries. Often, nations will pass foreign 
aid to other nations in similar economic positions as both a show of good faith and a political tool for 
positioning a favorable economic policy. For instance, our research indicated many African and Asian nations, 
the two continents that drawn in the greatest quantities of foreign aid, also donate between one another to further 
economic pursuits and stability along their respective borders.</p>

<p>Finally, while not immediately the focus of our project, it may have been beneficial to differentiate 
between the types of aid provided from OECD countries to non-OECD nations. For example, foreign investments 
in infrastructure, medical services, and food security are immensely important for developing nations as they 
ensure the health of their citizens and support a healthy and efficient workforce to help build a thriving economy. 
However, it is likely that a significant portion of the aid provided, and particularly the aid from the United States, 
is in the form of military support and resources. These types of aid, while perhaps useful in the short-term, do 
little to support the long-term stability and prosperity of developing nations. Therefore, our visualizations may 
be indicating a disproportionate American influence due to its expansive Military Industrial Complex since while 
these resources are indeed expansive, they may not be as beneficial as other non-violent related forms of foreign aid.</p>

</div>
</div>
</div>

<div class="row">
<div class="page-header">
<div class="col-md-12">

	<h2>User Testing</h2>
        <p>
During the early stages of our analysis, we consulted with a convenience sample of individuals likely representative 
of the types of users who would find these applications helpful. Initially, we used simple line plots to show the total 
amount of foreign aid both given and received over time. In response to these design choices, users expressed slight 
dissatisfaction at not being able to dig into the data from a temporal aspect. As this point, we modified our design 
to enable users to specify the time period of interest. Similarly, many of our test users stated a desire to filter by 
OECD nation as to better understand the specific flows between each donating and receiving nation. In response, we both 
included a filter option and converted our line plots to a more intuitive Sankey diagram which excels at communicating 
flows between two endpoints.</p> 

<p>We undertook a similar process when designing our first dashboard. In the early stages, we familiarized ourselves 
with the data set to understand how best to represent the differing components in an interactive and intuitive format.
 Following this exploratory data analysis, we brainstormed and sketched our prototype on paper to form a preliminary 
 design. Then, we finally transferred these designs into Tableau on a dashboard and reached out to our convenience sample 
 for feedback. They expressed excitement and interest in the design and subject matter but were frustrated that they could 
 not intuit how to use the initial clunky and somewhat obscure layout. As a result, we simplified our original design 
 and streamlined the interactivity to ensure that the different panels of the dashboard were interconnected. This ensured 
 that when users began filtering with one component of the design, the others would adjust accordingly. We also deleted 
 the legend for recipient countries since it did not add any new and relevant information. Similarly, we separated the 
 continent legends in two different titles in order to display additional information.</p>

<p>Throughout the user-testing experience, we gained incredible insight on how users might interact with our interactive 
visualizations and which factors are most important for different types of users. These personalized experience allowed 
us to incorporate more relevant pieces of information into our design while minimizing extraneous details that the users 
did not deem as critical to the overall presentation of the design. Furthermore, we realized how critical intuition is in 
our interactive dashboards. Without instructions, users easily become frustrated and become disengaged with the design, 
and more broadly with the entire content of our web application. Conversely, after we adapted our dashboards to 
incorporate our users’ feedback and reintroduced these products to the test users, they immediately became engrossed in 
the content of our website and enjoyed learning about the nuanced ebbs and flows of foreign aid.</p>

</div>
</div>
</div>



				

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
